<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid text-center">  
        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">
            <span class="hidden-xs text">{{user | uppercase}}</span>
        </a>
    </div>
</nav>
<div class="hold-transition skin-blue sidebar-mini">

    <!-- /.box -->
    <div class="row">
        <div class="col-md-6 pull-left">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Сообщения</h3>
                </div>
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages" id="group">

                    </div>
                </div>
                <div class="box-footer">
                    <div>
                        <div class="input-group">
                            <input type="text" name="message" placeholder="Введите сообщение ..." class="form-control" ng-model="groupMessage" my-enter="group_message('{{groupMessage}}')">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat" ng-click="group_message(groupMessage)">Отправить</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   

    </div>



</div>
