<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
    </div>
</nav>
<div class="container center text-center">
    <div class="container inner_container">
        <div class="row text-center Absolute-Cente is-Responsive">
            <div class="page-header">
                <h1>Вход в чат</h1>
            </div>
            <form>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" type="text" name='handle' placeholder="логин" ng-model="login_data.handle"/> 
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" type="password" name='password' placeholder="пароль" ng-model="login_data.password" my-enter="login()"/>     
                </div>
                <button type="button" class="btn btn-primary btn-block" ng-click="login()"><span class="glyphicon glyphicon-off"></span>
                    Войти</button>

                <div class="form-group pull-right">Не зарегистрирован в сети?<a href="#" data-toggle="modal" data-target="#myModal"> Регистрация</a>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header" style="padding:15px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="text-center"><span class="glyphicon glyphicon-lock"></span> Регистрация</h4>
            </div>
            <div class="modal-body" style="padding:20px 50px;">
                <form role="form" action="http://localhost:8080/register" method="post">
                    <div class="form-group">
                        <label for="name"><span class="glyphicon glyphicon-user"></span> Имя</label>
                        <input type="text" class="form-control" id="name" placeholder="Введите полное имя" ng-model="user.name">
                    </div>
                    <div class="form-group">
                        <label for="handle"><span class="glyphicon glyphicon-user"></span> Логин</label>
                        <input type="text" class="form-control" id="handle" placeholder="Введите логин" ng-model="user.handle">
                    </div>
                    <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Пароль</label>
                        <input type="password" class="form-control" id="psw" placeholder="Введите пароль" ng-model="user.password">
                    </div>
                    <div class="form-group">
                        <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Введите Email" ng-model="user.email">
                    </div>
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" ng-click="Register()"><span class="glyphicon glyphicon-off"></span>
                        Зарегистрироваться</button>
                </form>
            </div>
            <!--
<div class="modal-footer">
<p>Not registered? <a data-dismiss="modal" data-toggle="modalreg" data-target="#myModalReg" href="#">Sign Up</a></p>
<p><a href="#">Forgot Password?</a></p>
</div>
-->
        </div>
    </div>
</div>